{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% if user_logged_in %}
<div class="row bg-info">
    <div class="col-md-4">
        <a href='{{url_for("add_category")}}'>Add Category</a>
    </div>
    <div class="col-md-8">
        <a href='{{url_for("add_item")}}'>Add Item</a>
    </div>
</div>
{% endif %}
<div class="row bg-info">
        <div class="col-md-4">
            <h2>Categories</h2>
        </div>
        <div class="col-md-8">
            <h2>Latest Items</h2>
        </div>
    </div>
<div class="row bg-info">
    <div class="col-md-4">
        {% for c in categories %}
        <div>
            <a href='{{url_for("show_category", category_name=c.name)}}'>{{c.name}}</a>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-8">
        {% for i in items %}
        <div>
            <a href='{{url_for("show_item", category_name=i.category.name, item_name=i.title)}}'>{{i.title}}
                ({{i.category.name}})</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}