{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% if user_logged_in %}
<div class="row">
    <div class="col-md-4">
        <a href='{{url_for("add_category")}}'>Add Category</a>
    </div>
    <div class="col-md-8">
        <a href='{{url_for("add_item")}}'>Add Item</a>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-4">
        <div class="row bg-info list-tab-left">
            <h2>Categories</h2>
            {% for c in categories %}
            <div>
                <a href='{{url_for("show_category", category_name=c.name)}}'>{{c.name}}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-8">
        <div class="row bg-info list-tab-right">
            <h2>Latest Items</h2>
            {% for i in items %}
            <div>
                <a href='{{url_for("show_item", category_name=i.category.name, item_name=i.title)}}'>{{i.title}}
                    ({{i.category.name}})</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}