{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row bg-info">
    <div class="col-md-4">
        <a href='{{url_for("add_category")}}'>Add Category</a>
        <h2>Categories</h2>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-2">
                <a href='{{url_for("edit_category", category_name=selectedCategory.name)}}'>Edit Category</a>
            </div>
            <div class="col-md-3">
                <a href='{{url_for("delete_category", category_name=selectedCategory.name)}}'>Delete Category</a>
            </div>
            <div class="col-md-2">
                <a href='{{url_for("add_item_to_category", category_name=selectedCategory.name)}}'>Add Item</a>
            </div>
        </div>
        <h2>{{selectedCategory.name}}</h2>
    </div>
</div>
<div class="row bg-info">
    <div class="col-md-4">
        {% for c in categories %}
        <div>
            <a href='{{url_for("show_category", categoryName=c.name)}}'>{{c.name}}</a>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-8">
        {% for i in items %}
        <div>
            <a href='{{url_for("show_item", categoryName=i.category.name, itemName=i.title)}}'>{{i.title}}</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}