{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row">
    <h1> Edit Item </h1>
</div>

<form action="{{url_for('edit_item', category_name=category.name, item_name=item.title)}}" method='POST'>

    <div class="row form-elem">
        <div class="col-md-1">Title</div>
        <div class="col-md-11">
            <input type='text' size='30' name='title' value={{item.title}}>
        </div>
    </div>
    <div class="row form-elem">
        <div class="col-md-1">Description</div>
        <div class="col-md-11">
            <textarea name='description' rows="2" cols="30">{{item.description}}</textarea>
        </div>
    </div>
    <div class="row form-elem">
        <div class="col-md-1">Category</div>
        <div class="col-md-11">

            <select name='category'>
                {% for c in categories %}
                {% if c.name == category.name%}
                <option value={{c.name}} selected>{{c.name}}</option>
                {% else %}
                <option value={{c.name}}>{{c.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>

    <input type='submit' value='Save'>
    <a href="{{url_for('show_catalog')}}">
        <button type="button">Cancel</button>
    </a>
</form>
{% endblock %}