{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% if category %}
<div class="row">
    <h1> Add New Item to {{category.name}} </h1>
</div>
{% else %}
<div class="row">
        <h1> Add New Item </h1>
    </div>
{% endif %}
<form action="{{url_for('add_item')}}" method='POST'>

    <div class="row">
        <div class="col-md-1">Title</div>
        <div class="col-md-11">
            <input type='text' size='30' name='title' placeholder='New Item title'>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">Description</div>
        <div class="col-md-11">
            <textarea name='description' rows="2" cols="30" placeholder='Description'></textarea>
        </div>
    </div>

    {% if not category %}
    <div class="row">
        <div class="col-md-1">Category</div>
        <div class="col-md-11">

            <select name='category'>
                {% for c in categories %}
                <option value={{c.name}}>{{c.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endif %}

    <input type='submit' value='Create'>

</form>
<a href="{{url_for('show_catalog')}}">Cancel</a>
{% endblock %}